{% extends "navbar.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>Highlighted days are the days you work and hours are below the calendar!</h1>

    <div class="month">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
                Week {{weeknum}}
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Su</li>
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>

    </ul>

    <ul class="days">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li><span class="active">6</span></li>
        <li>7</li>
    </ul>

    <p><b>Friday(4/6): 10am-3:30pm</b></p>
    <p><b>Monday(4/9): 8am-1:30pm</b></p>
    <p><b>Wednesday(4/11): 1pm-10:00pm</b></p>
    <p><b>Friday(4/13): 10am-3:30pm</b></p>

    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Worked', 'Hours per week'],
                ['Monday', 5,],
                ['Tuesday', 6],
                ['Wednesday', 4],
                ['Thursday', 5],
                ['Friday', 8],
                ['Saturday', 8],
                ['Sunday', 8]

            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'My Average Day', 'width':550, 'height':400};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</body>
{% endblock %}