{% extends "navbar.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>

    <h1>Please enter all days you are free for the week and hours.</h1>
    <form action="{{ url_for('makeasch') }}" method=post class=add-entry>
      <table id="logTable">
          <tr>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
          </tr>
          <tr>
            <th>
              <select name="starttime_sunday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="starttime_monday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="starttime_tuesday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="starttime_wednesday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="starttime_thursday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="starttime_friday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="starttime_saturday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
          </tr>
          <tr>
            <th>
              <select name="endtime_sunday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="endtime_monday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="endtime_tuesday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="endtime_wednesday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="endtime_thursday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="endtime_friday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
            <th>
              <select name="endtime_saturday">
                <option value="0">12AM</option>
                <option value="100">1AM</option>
                <option value="200">2AM</option>
                <option value="300">3AM</option>
                <option value="400">4AM</option>
                <option value="500">5AM</option>
                <option value="600">6AM</option>
                <option value="700">7AM</option>
                <option value="800">8AM</option>
                <option value="900">9AM</option>
                <option value="1000">10AM</option>
                <option value="1100">11AM</option>
                <option value="1200">12PM</option>
                <option value="1300">1PM</option>
                <option value="1400">2PM</option>
                <option value="1500">3PM</option>
                <option value="1600">4PM</option>
                <option value="1700">5PM</option>
                <option value="1800">6PM</option>
                <option value="1900">7PM</option>
                <option value="2000">8PM</option>
                <option value="2100">9PM</option>
                <option value="2200">10PM</option>
                <option value="2300">11PM</option>
              </select>
            </th>
          </tr>
          <tr>
            <th>
              <input id="time" type="time">
            </th>
          </tr>
    </form>
</body>
{% endblock %}
