{% extends "navbar.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>

    <h1>Please enter all days you are free for the week and hours.</h1>
    <form action="{{url_for('submitsch')}}" method=post>
      <table id="logTable">
          <tr>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
          </tr>
          <tr>
            <th>
              <p> Start Time </p>
              <input name="starttime_sunday" type="time">
              <p> End Time </p>
              <input name="endtime_sunday" type="time">
            </th>
            <th>
              <p> Start Time </p>
              <input name="starttime_monday" type="time">
              <p> End Time </p>
              <input name="endtime_monday" type="time">
            </th>
            <th>
              <p> Start Time </p>
              <input name="starttime_tuesday" type="time">
              <p> End Time </p>
              <input name="endtime_tuesday" type="time">
            </th>
            <th>
              <p> Start Time </p>
              <input name="starttime_wednesday" type="time">
              <p> End Time </p>
              <input name="endtime_wednesday" type="time">
            </th>
            <th>
              <p> Start Time </p>
              <input name="starttime_thursday" type="time">
              <p> End Time </p>
              <input name="endtime_thursday" type="time">
            </th>
            <th>
              <p> Start Time </p>
              <input name="starttime_friday" type="time">
              <p> End Time </p>
              <input name="endtime_friday" type="time">
            </th>
            <th>
              <p> Start Time </p>
              <input name="starttime_saturday" type="time">
              <p> End Time </p>
              <input name="endtime_saturday" type="time">
            </th>
          </tr>
          <input type=submit value=Submit>

    </form>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
</body>
{% endblock %}
