{% extends "navbar.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- Header -->
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Time off</b></h5>
</header>
<div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
            <h5>Pick days off:</h5>
            <form action="{{url_for('submitTimeOff')}}" method="POST">
              <input name="start_date" type="date" label="Start Date" required>
              <input name="end_date" type="date" label="End Date" required>
              <p>REASON FOR DAY OFF: </p>
              <textarea name="reason" rows="4" cols="50" required>
                  Keep answer brief
              </textarea>
              <input type=submit value=Submit>
            </form>
            <p> If you're only requesting one day off, select the same day for start and end date</p>
        </div>
    </div>
</div>
{% endblock %}
